@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.makeup .hll {background-color: #ffffcc}
.makeup {background-color: #f8f8f8}.makeup .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.makeup .bp {color: #AA22FF; } /* :name_builtin_pseudo */
.makeup .c {color: #008800; font-style: italic; } /* :comment */
.makeup .c1 {color: #008800; font-style: italic; } /* :comment_single */
.makeup .ch {color: #008800; font-style: italic; } /* :comment_hashbang */
.makeup .cm {color: #008800; font-style: italic; } /* :comment_multiline */
.makeup .cp {color: #008800; font-style: normal; } /* :comment_preproc */
.makeup .cpf {color: #008800; font-style: normal; } /* :comment_preproc_file */
.makeup .cs {color: #008800; font-style: normal; font-weight: bold; } /* :comment_special */
.makeup .dl {color: #BB4444; } /* :string_delimiter */
.makeup .err {border: #FF0000; } /* :error */
.makeup .fm {color: #00A000; } /* :name_function_magic */
.makeup .gd {color: #A00000; } /* :generic_deleted */
.makeup .ge {font-style: italic; } /* :generic_emph */
.makeup .gh {color: #000080; font-weight: bold; } /* :generic_heading */
.makeup .gi {color: #00A000; } /* :generic_inserted */
.makeup .go {color: #888; } /* :generic_output */
.makeup .gp {color: #000080; font-weight: bold; } /* :generic_prompt */
.makeup .gr {color: #FF0000; } /* :generic_error */
.makeup .gs {font-weight: bold; } /* :generic_strong */
.makeup .gt {color: #04D; } /* :generic_traceback */
.makeup .gu {color: #800080; font-weight: bold; } /* :generic_subheading */
.makeup .il {color: #666666; } /* :number_integer_long */
.makeup .k {color: #AA22FF; font-weight: bold; } /* :keyword */
.makeup .kc {color: #AA22FF; font-weight: bold; } /* :keyword_constant */
.makeup .kd {color: #AA22FF; font-weight: bold; } /* :keyword_declaration */
.makeup .kn {color: #AA22FF; font-weight: bold; } /* :keyword_namespace */
.makeup .kp {color: #AA22FF; font-weight: normal; } /* :keyword_pseudo */
.makeup .kr {color: #AA22FF; font-weight: bold; } /* :keyword_reserved */
.makeup .kt {color: #00BB00; font-weight: bold; } /* :keyword_type */
.makeup .m {color: #666666; } /* :number */
.makeup .mb {color: #666666; } /* :number_bin */
.makeup .mf {color: #666666; } /* :number_float */
.makeup .mh {color: #666666; } /* :number_hex */
.makeup .mi {color: #666666; } /* :number_integer */
.makeup .mo {color: #666666; } /* :number_oct */
.makeup .na {color: #BB4444; } /* :name_attribute */
.makeup .nb {color: #AA22FF; } /* :name_builtin */
.makeup .nc {color: #0000FF; } /* :name_class */
.makeup .nd {color: #AA22FF; } /* :name_decorator */
.makeup .ne {color: #D2413A; font-weight: bold; } /* :name_exception */
.makeup .nf {color: #00A000; } /* :name_function */
.makeup .ni {color: #999999; font-weight: bold; } /* :name_entity */
.makeup .nl {color: #A0A000; } /* :name_label */
.makeup .nn {color: #0000FF; font-weight: bold; } /* :name_namespace */
.makeup .no {color: #880000; } /* :name_constant */
.makeup .nt {color: #008000; font-weight: bold; } /* :name_tag */
.makeup .nv {color: #B8860B; } /* :name_variable */
.makeup .o {color: #666666; } /* :operator */
.makeup .ow {color: #AA22FF; font-weight: bold; } /* :operator_word */
.makeup .s {color: #BB4444; } /* :string */
.makeup .s1 {color: #BB4444; } /* :string_single */
.makeup .s2 {color: #BB4444; } /* :string_double */
.makeup .sa {color: #BB4444; } /* :string_affix */
.makeup .sb {color: #BB4444; } /* :string_backtick */
.makeup .sc {color: #BB4444; } /* :string_char */
.makeup .sd {color: #BB4444; font-style: italic; } /* :string_doc */
.makeup .se {color: #BB6622; font-weight: bold; } /* :string_escape */
.makeup .sh {color: #BB4444; } /* :string_heredoc */
.makeup .si {color: #BB6688; font-weight: bold; } /* :string_interpol */
.makeup .sr {color: #BB6688; } /* :string_regex */
.makeup .ss {color: #B8860B; } /* :string_symbol */
.makeup .sx {color: #008000; } /* :string_other */
.makeup .sx {color: #BB4444; } /* :string_sigil */
.makeup .vc {color: #B8860B; } /* :name_variable_class */
.makeup .vg {color: #B8860B; } /* :name_variable_global */
.makeup .vi {color: #B8860B; } /* :name_variable_instance */
.makeup .vm {color: #B8860B; } /* :name_variable_magic */


pre:has(> code) {
    /* Your styles here */
    background-color: #f8f8f8;
    padding: 20px;
  }